@import '../../../../styles/styles.scss';

.manager {
  height: 100%;
  width: 100%;
  position: relative;
  // overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 90%;
  height: 100%;
  margin: 0 auto;

  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 65%;
    width: 100%;

    margin: 0 auto;

    position: relative;

    .left {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      margin-top: 2rem;

      .emphasis {
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        height: fit-content;
        text-align: end;
        margin-right: 0;

        cursor: pointer;

        font-size: var(--font-h1);
        margin: auto 0;

        &:nth-child(1) {
          color: var(--blue);
        }

        &:nth-child(2) {
          color: var(--yellow-10);
        }

        &:nth-child(3) {
          color: var(--purple-10);
        }
      }
    }

    .right {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      .box {
        &__main {
          width: 60%;
          height: fit-content;
          margin: auto;
          display: flex;

          border: 3px solid var(--purple-10);
        }

        &__body {
          width: 85%;
          margin: auto;

          b {
            color: var(--purple-10);
          }
        }
      }

      .text {
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 1380px) {
  .container {
    .body {
      .right {
        width: 75%;

        .box {
          &__main {
            width: 80%;
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .container {
    .body {
      .right {
        .box {
          &__main {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1048px) {
  .container {
    .body {
      height: auto;
      flex-direction: column;

      .left {
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;

        .emphasis {
          width: fit-content;
          margin: 0 auto;
          margin-bottom: 2.5rem;
          font-size: calc(var(--font-h1) * 0.8);
        }
      }

      .right {
        width: 100%;
        height: 80%;

        .box {
          &__main {
            margin-right: unset;
            margin: 0 auto;
            width: 75%;
          }

          &__body {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .body {
      .left {
        .emphasis {
          margin-bottom: 4rem;
        }
      }

      .right {
        .box {
          &__main {
            width: 90%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    .body {
      .right {
        .box {
          &__main {
            width: 100%;
          }
        }
      }
    }
  }
}
