@import '../../../../styles/styles.scss';

.manager {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 90%;
  height: 100%;
  margin: 0 auto;

  .subheader {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &.desktop {
      display: flex;
    }

    &.mobile {
      display: none;
    }

    .subheadingText {
      margin-right: 1rem;
      margin-bottom: 0.5rem;
      font-weight: bold;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .progress {
      margin: auto 0;
      border-radius: 0.5rem;
      width: 440px;
      border: 2px solid var(--grey);
    }

    .progress > div:first-child {
      border-radius: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75%;
    width: 100%;

    margin: 0 auto;

    position: relative;

    .left {
      width: 40%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      margin-top: 1rem;

      .emphasisContainer {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .emphasis {
          text-transform: uppercase;
          font-weight: bold;
          width: 100%;
          height: fit-content;
          text-align: end;
          margin-right: 0;

          cursor: pointer;

          font-size: calc(var(--font-h1) * 1.175);
          margin: auto 0;

          &.transparency {
            color: var(--blue);
          }

          &.honesty {
            color: var(--yellow-10);
          }

          &.communication {
            color: var(--purple-10);
          }
        }
      }
    }

    .right {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;

      .box {
        &__main {
          width: 60%;
          height: fit-content;
          margin: auto;
          display: flex;

          border: 3px solid var(--purple-10);
        }

        &__body {
          width: 85%;
          margin: auto;

          b {
            color: var(--purple-10);
          }
        }
      }

      .text {
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 1380px) {
  .container {
    .body {
      .right {
        width: 75%;

        .box {
          &__main {
            width: 80%;
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .container {
    .body {
      .right {
        .box {
          &__main {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1048px) {
  .container {
    position: relative;

    .subheader {
      margin: 0 auto;
      margin-bottom: 2rem;
      justify-content: center;
      flex-direction: column;

      height: fit-content;

      .subheadingText {
        margin-right: unset;
        text-align: center;
        justify-content: center;
      }
    }

    .body {
      height: 80%;
      flex-direction: column;

      .left {
        width: 100%;
        height: 88%;
        margin-bottom: unset;
        margin-top: unset;

        .emphasisContainer {
          .emphasis {
            width: fit-content;
            margin: 0 auto;
            margin-bottom: 2.5rem;
            // font-size: calc(var(--font-h1) * 0.8);
          }
        }
      }

      .right {
        width: 100%;
        height: 90%;
        position: absolute;

        .box {
          &__main {
            width: 75%;
            height: auto;

            position: relative;
            margin: auto;
            height: fit-content;
          }

          &__body {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 876px) {
  .manager {
    min-height: 100vh;
    height: 100%;
  }

  .container {
    .subheader {
      &.desktop {
        display: none;
      }

      &.mobile {
        display: flex;
      }
    }

    .body {
      .left {
        justify-content: flex-start;
        height: 100%;

        .emphasisContainer {
          height: 100%;
          justify-content: space-evenly;

          .emphasis {
            margin-bottom: 4rem;
            font-size: calc(var(--font-h1));
          }
        }
      }

      .right {
        .box {
          &__main {
            width: 90%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .manager {
    min-height: 120vh;
    height: fit-content;
  }

  .container {
    .subheader {
      .progress {
        width: 100%;
      }

      .progress > div:first-child {
        width: 100%;
      }
    }

    .body {
      .left {
        .emphasisContainer {
          height: 60%;

          .emphasis {
            margin-bottom: 2rem;
            font-size: calc(var(--font-h1) * 0.85);
          }
        }
      }

      .right {
        height: 85%;

        .box {
          &__main {
            height: fit-content;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .manager {
    min-height: 130vh;
    height: fit-content;
  }

  .container {
    .body {
      .left {
        height: 80%;

        .emphasisContainer {
          height: 50%;

          .emphasis {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
          }
        }
      }

      .right {
        height: 65%;

        .box {
          &__main {
            width: 100%;
            padding: 1.5rem;
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 380px) {
//   .manager {
//     min-height: 145vh;
//   }
// }

// height
@media screen and (max-height: 540px) {
  .manager {
    min-height: 130vh;

    .container {
      .body {
        .left {
          justify-content: flex-start;
        }
      }
    }
  }
}
