.projectPage {
  --section-margin: 2.5rem;
}

// sections
.container {
  width: 65%;
  height: 50%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  margin: var(--section-margin) auto;
}

.section {
  margin-bottom: var(--section-margin);
}

// generic stuff
.banner {
  height: 400px;
  width: 100%;
  margin-bottom: var(--section-margin);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.image {
  width: 50%;
  height: auto;

  img {
    width: 100%;
    height: 100%;
  }
}

.text {
  margin-bottom: var(--section-margin);

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 80%;
  }
}
