@import '../../../../styles/styles.scss';
@import '../../../../styles/animations.scss';

.landing {
  // background-color: var(--blue);
  position: relative;
  min-height: 100vh;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: flex-start;

  margin: 0 auto;
  margin-top: -2%;

  .left {
    width: 50%;
    margin: auto 0;

    .header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      min-height: 12%;
    }

    .titleContainer {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;

      img {
        width: var(--font-h1);
        height: var(--font-h1);

        margin-left: 1.5rem;

        display: none;
      }
    }

    .subtitle {
      margin-top: 2vmin;
    }

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      width: 80%;

      margin-top: 4vmin;

      .iconContainer {
        position: relative;
        flex-shrink: 0.5;

        &:nth-child(1) {
          .icon {
            background-color: var(--purple);
            margin-left: 0;
          }
        }

        &:nth-child(2) {
          .icon {
            background-color: var(--blue);
          }
        }

        &:nth-child(3) {
          .icon {
            background-color: var(--purple-10);
          }
        }

        &:nth-child(4) {
          .icon {
            background-color: var(--blue-10);
          }
        }

        &:nth-child(5) {
          .icon {
            background-color: var(--purple-20);
          }
        }

        &:nth-last-child(1) {
          .icon {
            margin-right: 0;
          }
        }

        .icon {
          position: relative;
          z-index: 1;
        }

        .circularText {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          transition: scale, width, height;
          transition-duration: 0.5s;
          transition-timing-function: ease-in-out;

          scale: 0.8;

          textPath {
            stroke: var(--grey);
            fill: var(--grey);
            text-transform: uppercase;
          }
        }

        &:hover {
          .circularText {
            scale: 1.75;
          }
        }
      }
    }
  }

  .right {
    width: 30%;
    margin: auto;
    display: flex;
    // margin-right: 0;

    .onigiri {
      width: 250px;
      height: auto;
      margin: auto;
    }
  }
}

.bottom {
  width: 100%;
  display: flex;
  align-self: flex-end;

  position: absolute;
  bottom: 2%;

  .arrow {
    margin: 0 auto;
    width: 2.25rem;

    path {
      stroke: var(--grey);
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    .left {
      .content {
        width: 100%;
      }
    }

    .right {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 876px) {
  .landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    .left {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .header {
        .titleContainer {
          .title {
            width: 100%;
            text-align: center;
          }
        }

        .subtitle {
          text-align: center;
        }
      }

      .content {
        width: 100%;
        margin: 0 auto;
        margin-top: 6vmin;
        justify-content: space-evenly;

        .iconContainer {
          .icon {
            scale: 0.8;
          }

          .circularText {
            scale: 0.25;
          }

          &:hover {
            .circularText {
              scale: 1.375;
            }
          }
        }
      }
    }

    .right {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    .left {
      .header {
        margin-bottom: 1rem;

        .titleContainer {
          margin-bottom: 1rem;

          .title {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
