.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .header {
    margin-bottom: 2rem;
  }

  .left {
    width: 40%;

    .title {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }

  .right {
    width: 50%;
    height: auto;
    background-color: var(--dark-grey);
    box-shadow: var(--box-shadow);

    padding: 1.5rem 1.5rem;
    border-radius: 1rem;

    .title {
      font-weight: bold;
    }

    .info {
      display: flex;
      height: fit-content;
      flex-direction: row;
      justify-content: space-between;

      padding-bottom: 1rem;

      // EVALUATE: font size
      font-size: var(--font-p);

      &:not(:nth-child(1)) {
        border-top: 1px solid rgba(184, 184, 184, 0.1);
        padding-top: 1rem;
      }

      .value {
        text-align: end;
      }

      .roles {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        width: 60%;

        .value {
          width: 100%;
          margin-bottom: 0.5rem;
        }
      }
    }

    .responsibilities {
      border-top: 1px solid rgba(184, 184, 184, 0.1);
      padding-top: 1rem;

      .title {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      .value {
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 876px) {
  .top {
    flex-direction: column;

    .left {
      width: 100%;
      margin-bottom: 2rem;
    }

    .right {
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .top {
    .right {
      .info {
        flex-direction: column;

        .title {
          margin-bottom: 0.5rem;
        }

        .value {
          text-align: start;
        }

        .roles {
          width: 100%;
        }
      }
    }
  }
}
