.body {
  display: flex;

  .text {
    margin-bottom: 1rem;
  }

  .banner {
    margin-bottom: 1.5rem;

    img {
      object-fit: cover;
    }
  }

  &.top {
    flex-direction: column;

    .banner {
      margin-bottom: var(--section-margin);
    }
  }

  &.bottom {
    flex-direction: column-reverse;

    .text {
      margin-bottom: 1.5rem;
    }
  }
}
