.hyperlink {
  cursor: pointer;

  a,
  span,
  div {
    color: inherit;
  }

  &.default {
    transition: opacity 0.175s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }

  &.underline {
    padding-bottom: 2px;
    // position
    background-position: right bottom;
    background-repeat: no-repeat;
    transition: background-size 0.25s, background-position 0s 0.25s, color 0.25s;

    // main mechanic
    &:hover {
      background-position: left bottom;
    }
  }
}
