.wrapper {
  --hover-transition-time: 0.5s;

  // main parent
  .contactBox {
    margin: auto 0;

    a {
      width: 100%;
      height: 100%;
    }

    // inner body
    .contactBoxBody {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      position: relative;

      // container
      .container {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;

        margin: auto;

        .circularText {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          width: 0%;
          height: 0%;

          margin: auto;
          z-index: 1;

          transition: width var(--hover-transition-time) ease-in-out,
            width var(--hover-transition-time) ease-in-out;

          textPath {
            stroke: white;
            fill: white;
            text-transform: uppercase;
            font-size: 1rem;
          }
        }

        .iconBg {
          position: relative;
          display: flex;
          margin: auto;

          width: 60%;
          height: 60%;

          background-color: var(--blue-10);
          border-radius: 50%;

          z-index: 2;

          transition: width 0.3s ease-in-out, width 0.3s ease-in-out;
          transition-timing-function: linear;
          transition-delay: 0.1s;

          .icon {
            width: 80%;
            object-fit: contain;
            margin: auto;
          }
        }
      }

      // text information
      .info {
        position: absolute;
        bottom: -50%;
        font-size: var(--font-h4);
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;

        // initial hidden
        opacity: 0;

        transition: opacity var(--hover-transition-time) ease-in-out;
        border-radius: 1rem;

        padding: 0.5rem;

        span {
          text-transform: lowercase;
          // font-family: 'Silkscreen';
          font-weight: bold;
          font-size: var(--font-p);
        }
      }
    }

    &:hover {
      .contactBoxBody {
        .circularText {
          width: 100%;
          height: 100%;
        }

        .iconBg {
          width: 65%;
          height: 65%;

          .icon {
            width: 82%;
          }
        }

        .info {
          opacity: 1;
        }
      }
    }

    &.show {
      .contactBoxBody {
        .circularText {
          display: none;
        }

        .iconBg {
          width: 65%;
          height: 65%;

          .icon {
            width: 82%;
          }
        }

        .info {
          opacity: 1;
          bottom: -4vh;
        }
      }
    }
  }

  // for specific icons
  &.linkedin {
    .icon {
      transform: scale(0.7);
    }
  }

  &.github {
    .icon {
      transform: scale(0.95);
    }
  }

  &.resume {
    .icon {
      transform: scale(0.95);
    }
  }
}

@media screen and (max-width: 1380px) {
  .wrapper {
    .contactBox {
      margin: 0 auto;
      margin-bottom: 2rem;

      .contactBoxBody {
        .info {
          bottom: -26%;
        }
      }
    }
  }
}

// @media screen and (max-width: 876px) {
//   .wrapper {
//     .contactBox {
//       border: none;
//     }
//   }
// }

// @media screen and (max-width: 768px) {
//   .wrapper {
//     .contactBox {
//       .contactBoxBody {
//         .info {
//           bottom: -50%;
//         }
//       }
//     }
//   }
// }
