.body {
  width: 1.5rem;
  height: 3rem;

  border: 3px solid var(--black);
  border-radius: 3rem;

  align-self: center;

  display: flex;
  position: relative;

  .dot {
    font-size: 2rem;
    text-align: center;

    color: var(--black);

    position: absolute;
    left: 0;
    right: 0;

    &:nth-child(1) {
      animation: scrollAnim 1.75s infinite;
    }
  }
}

@keyframes scrollAnim {
  from {
    margin-top: -0.5rem;
  }
  to {
    margin-top: 1rem;
    opacity: 0;
  }
}
