:root {
  // white
  --white: #ffffff;
  --white-10: #ffffff;

  // black
  --black: #282b2d;
  --black-10: #1a1c1d;

  // grey
  --grey: #e3e3e3;
  --grey-10: #b8b8b8;
  --grey-20: #b6b5b5;
  --grey-30: #9b9b9e;
  --grey-40: #959595;

  // light grey
  --light-grey: #9c9c9c;

  // dark grey
  --dark-grey: #404548;
  --dark-grey-10: #50565a;
  --dark-grey-20: #394240;

  // blue
  --blue: #bed5ff;
  --blue-10: #abc8fc;

  // aqua
  --aqua: #b3feff;
  --aqua-10: #96dbdc;

  // purple
  --purple: #d2cbf8;
  --purple-10: #baaef7;
  --purple-20: #a2a8e8;
  --purple-30: #9095c4;
  --purple-40: #868cc2;
  --purple-50: #6a6f9c;

  // oshi
  --purple-special: #b190fc;

  // dark purple
  --dark-purple: #a2a8e8;
  --dark-purple-10: #868cc2;

  // red
  --red: #ff4b4b;

  // yellow-light
  --yellow-light: #f3efc2;

  // yellow
  --yellow: #f5ed8e;
  --yellow-10: #d1ca7c;

  // green
  --green: #b2f5a0;
  --green-10: #9edb8d;

  // commons
  --background-colour: var(--black);
  --border-colour: var(--grey-10);

  // vars
  --header-margin: 6vmin;
  --box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
  --linear-gradient: linear-gradient(
    to right,
    var(--dark-grey) 40%,
    var(--background-colour)
  );
  --border-radius-default: 1rem;

  // font size
  --font-h1: 50px;
  --font-h2: 35px;
  --font-h3: 28px;
  --font-h4: 22px;
  --font-p: 20px;
}
