:root {
  // white
  --white: rgb(255, 255, 255);
  --white-10: rgb(255, 255, 255);

  // black
  --black: rgb(40, 43, 45);
  --black-10: rgb(26, 28, 29);

  // grey
  --grey: rgb(227, 227, 227);
  --grey-10: rgb(184, 184, 184);
  --grey-20: rgb(182, 181, 181);
  --grey-30: rgb(155, 155, 158);
  --grey-40: rgb(149, 149, 149);

  // light grey
  --light-grey: rgb(156, 156, 156);

  // dark grey
  --dark-grey: rgb(64, 69, 72);
  --dark-grey-10: rgb(80, 86, 90);
  --dark-grey-20: rgb(57, 66, 64);

  // blue
  --blue: rgb(190, 213, 255);
  --blue-10: rgb(171, 200, 252);
  --blue-20: rgb(148, 171, 214);
  --blue-30: rgb(128, 148, 184);

  // aqua
  --aqua: rgb(179, 254, 255);
  --aqua-10: rgb(150, 219, 220);

  // purple
  --purple: rgb(210, 203, 248);
  --purple-10: rgb(186, 174, 247);
  --purple-20: rgb(162, 168, 232);
  --purple-30: rgb(144, 149, 196);
  --purple-40: rgb(134, 140, 194);
  --purple-50: rgb(106, 111, 156);

  // oshi
  --purple-special: rgb(177, 144, 252);

  // dark purple
  --dark-purple: rgb(162, 168, 232);
  --dark-purple-10: rgb(134, 140, 194);

  // red
  --red: rgb(255, 75, 75);

  // yellow-light
  --yellow-light: rgb(243, 239, 194);

  // yellow
  --yellow: rgb(245, 237, 142);
  --yellow-10: rgb(209, 202, 124);

  // green
  --green: rgb(178, 245, 160);
  --green-10: rgb(158, 219, 141);

  // commons
  --background-colour: var(--black);
  --border-colour: var(--grey-10);

  // vars
  --header-margin: 6vmin;
  --box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
  --linear-gradient: linear-gradient(
    to right,
    var(--dark-grey) 40%,
    var(--background-colour)
  );
  --border-radius-default: 1rem;

  // header
  --header-height: 80px;

  // font size
  --font-h1: 42px;
  --font-h2: 30px;
  --font-h3: 22px;
  --font-h4: 20px;
  --font-p: 16px;
  --font-caption: 14px;

  // constraints
  --max-width: 1980px;

  // screen breaks
  --screen-break-medium: 1400px;
  --screen-break-tablet: 876px;

  @media screen and (max-width: 768px) {
    --font-h1: 36px;
    --font-h2: 26px;
    --font-h3: 20px;
    --font-h4: 18px;
    --font-p: 16px;
    --font-caption: 14px;
  }
}
