:root {
  // white
  --white: #ffffff;

  // black
  --black: #000000;

  // grey
  --grey: #e3e3e3;
  --grey-10: #b8b8b8;

  // blue
  --blue: #bed5ff;
  --blue-10: #abc8fc;

  // aqua
  --aqua: #b3feff;
  --aqua-10: #96dbdc;

  // purple
  --purple: #ccc2ff;
  --purple-10: #baaef7;

  // dark purple
  --dark-purple: #a2a8e8;
  --dark-purple-10: #868cc2;
}
