// types
.font {
  &__silkscreen {
    font-family: 'Silkscreen';
  }
  &__silkscreen-bold {
    font-family: 'Silkscreen Bold';
  }
}

// headings
h1 {
  font-size: 50px;
  font-weight: 500;
}

h2 {
  font-size: 35px;
  font-weight: 500;
}

h3 {
  font-size: 28px;
  font-weight: 500;
}

p {
  font-size: var(--font-p);
}

.title {
  &__sub-section {
    font-size: 40px;
    font-weight: 500;
  }
}

// transforms
.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

// animations
.text {
  &__center {
    text-align: center;
  }
}

.cursor {
  &__pointer {
    cursor: pointer;
  }
}
