// common components
.section {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;

  // background by www.svgbackgrounds.com
  background-image: url('../assets/background/subtle-prism-black.svg');
  background-repeat: repeat-y;
  overflow-x: hidden;

  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;

  &.hidden {
    opacity: 0;
  }
}

.sub-section {
  max-width: var(--max-width);
  width: 100%;
  height: fit-content;
  min-height: 900px;

  margin: 0 auto;

  &.wide {
    max-width: initial;
  }

  &:not(:nth-last-child(1)) {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 876px) {
  .sub-section {
    height: 100%;
    margin-bottom: 6vmin;

    &:nth-last-child(1) {
      margin-bottom: unset;
    }
  }
}
