@use '__mixins.scss';
@use 'fonts.scss';
@use 'animations.scss';
@use 'ReactModalStyle.scss';
// elements

// position
.position {
  &--absolute {
    position: absolute;
  }

  &--relative {
    position: relative;
  }

  &--fixed {
    position: fixed;
  }

  &--sticky {
    position: sticky;
  }
}
