.body {
  display: flex;
  justify-content: space-between;

  &.left {
    flex-direction: row;
  }

  &.right {
    flex-direction: row-reverse;
  }

  .text {
    width: 45%;
  }

  .imageContainer {
    // background-color: var(--black-10);
    object-fit: contain;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 520px;
    // margin: auto 0;
  }
}

@media screen and (max-width: 1400px) {
  .body {
    .text {
      width: 50%;
    }

    .imageContainer {
      max-height: 340px;
      width: 40%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .body {
    .imageContainer {
      width: 100%;
      max-height: unset;
    }

    .text {
      width: 100%;
    }

    &.left {
      flex-direction: column-reverse;

      .text {
        margin-bottom: 1.5rem;
      }
    }

    &.right {
      flex-direction: column;

      .imageContainer {
        margin-bottom: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 876px) {
  .leftRight {
    flex-direction: column;
  }
}
