#highlights-carousel {
  .swiper-slide {
    width: 100%;
    height: fit-content;
    opacity: 0.5;
    margin: auto 0;

    .highlight-frame {
      transition: 0.5s ease-in-out;
    }
  }

  .swiper-slide-active {
    opacity: 1;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: rgba(white, 0.75);
    background-color: rgba(black, 0.375);
    padding: 2rem;
    border-radius: 1rem;
    opacity: 1;

    transition: color 0.15s ease-in, opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
      color: var(--grey);
    }
  }

  .swiper-pagination-bullets {
    bottom: -8%;

    .swiper-pagination-bullet {
      background-color: var(--dark-grey-10);
      opacity: 0.8;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--aqua);
    }
  }
}

@media screen and (max-width: 876px) {
  #highlights-carousel {
    .swiper-button-prev {
      left: -10px;
      width: 40px;
      height: 40px;
    }

    .swiper-button-next {
      right: -10px;
      width: 40px;
      height: 40px;
    }
  }
}
