#highlights-carousel {
  .swiper-slide {
    width: fit-content;
    height: fit-content;
    opacity: 0.5;
  }
  .swiper-slide-active {
    // opacity: 0.5;
    opacity: 1;

    .highlight-frame {
      &:hover {
        width: 900px;
        height: 550px;
      }
    }
  }
}
