@import '../../../../styles/styles.scss';

.highlights {
  position: relative;
  height: 100vh;
}

.container {
  --border-raidus: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: fit-content;
  margin: 0 auto;

  position: relative;
  z-index: 1;

  transition: color 0.75s ease-in-out;
  transition-delay: 0.1s;

  &.active {
    color: var(--black);
  }

  .header {
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--header-margin);
    width: 90%;
  }

  .body {
    --transition-duration: 0.25s;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    .subheading {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      font-size: var(--font-h3);
    }

    .carousel {
      width: 100%;
      height: fit-content;
      margin: auto 0;
      overflow: unset;
    }
  }
}

@media screen and (max-width: 876px) {
  .header {
    width: 100%;
  }

  .body {
    text-align: center;
  }
}
