.header {
  display: flex;
  flex-direction: row;
  margin-top: var(--header-margin);
  // margin-bottom: 5vmin !important;
  margin-bottom: 2rem;

  &.hasSubheading {
    margin-bottom: 1rem;
  }

  .title {
    margin: auto 0;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bold;
  }

  .icon {
    margin: 0 2rem;
    background-color: var(--purple);
  }
}

// smaller size
@media screen and (max-width: 876px) {
  .header {
    flex-flow: column-reverse;
    margin-bottom: 2rem;

    .title {
      text-align: center;
    }

    .icon {
      margin: 0 auto;
      margin-bottom: 1rem;
    }
  }
}
