footer {
  background-image: url('../../../assets/background/subtle-prism-black.svg');
  background-repeat: repeat-x;
  background-position: center;
  z-index: 256883;

  // background: rgba(#282b2d, 0.25);
  box-shadow: 0px 3px 10px 0px rgba(#282b2d, 0.8);

  height: var(--footer-height);
  width: 100vw;

  bottom: 0;
  opacity: 1;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 100%;

    .footerText {
      width: fit-content;
      margin: 0 auto;
      font-size: 1rem;
    }

    .builtWith {
      margin-bottom: 0.375rem;
    }

    .copyright {
      font-size: 0.875rem;
    }
  }
}
