@import '../../../../styles/styles.scss';

.journey {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;

  width: 90%;
  margin: 0 auto;

  .header {
    display: flex;
    flex-direction: row;
    margin-top: var(--header-margin);

    .title {
      margin: auto 0;
      text-transform: uppercase;
    }

    .icon {
      background-color: var(--purple-10);
    }
  }

  .body {
    margin-top: 5vmin;

    display: flex;
    flex-direction: column;

    .subheading {
      width: 90%;

      font-size: var(--font-h3);
    }

    .text {
      margin-bottom: 2rem;
    }

    .jobBox {
      margin-bottom: 2rem;
    }
  }
}
