@import '../../../../styles/styles.scss';

.journey {
  height: 100%;
  max-height: unset;
}

.container {
  display: flex;
  flex-direction: column;

  .body {
    display: flex;
    flex-direction: column;

    .subheading {
      width: 90%;
      font-size: var(--font-h3);
    }

    .text {
      margin-bottom: 2rem;
    }

    .jobBox {
      margin-bottom: 2rem;
    }
  }
}
