.header {
  div {
    transition-property: background-color, scale;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: 0.325s;

    cursor: pointer;

    &:active {
      scale: 0.8;
    }
  }

  &.active {
    div {
      &:first-of-type {
        background-color: var(--yellow) !important;
      }
    }
  }
}
