@use './styles/styles.scss';

// silkscreen
@font-face {
  font-family: 'Silkscreen';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/Silkscreen/Silkscreen-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Silkscreen';
  font-weight: bold;
  font-style: normal;
  src: url('./assets/fonts/Silkscreen/Silkscreen-Bold.ttf') format('truetype');
}

// noto sans JP font
@font-face {
  font-family: 'NotoSansJP';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/NotoSansJP/NotoSansJP-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'NotoSansJP';
  font-weight: bold;
  font-style: normal;
  src: url('./assets/fonts/NotoSansJP/NotoSansJP-Bold.ttf') format('truetype');
}

// ubuntu
@font-face {
  font-family: 'Ubuntu';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-style: normal;
  src: url('./assets/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}

// rubik
@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  font-style: normal;
  src: url('./assets/fonts/Rubik/Rubik-Bold.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  overflow-x: hidden;
  color: var(--grey);
  background-color: var(--background-colour);
  scroll-behavior: smooth;
}

ul {
  position: relative;
  margin-left: 0;
  list-style: none;
  padding-left: 1.2rem;

  li {
    &:before {
      content: '-';
      position: absolute;
      left: 0;
      text-indent: 0.25rem;
    }
  }
}

ol {
  position: relative;
  margin-left: 0;
  list-style: decimal;
  padding-left: 1.2rem;
  text-indent: 0.25rem;
}
