.walletConnect {
  width: 600px;
  height: fit-content;

  border: 2px solid var(--black-10);
  box-shadow: var(--box-shadow);

  padding: 2.5rem 2rem;

  &:visited {
    border: none;
  }
}

.body {
  .header {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .status {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 0.5rem;

      &:nth-last-child(1) {
        margin-bottom: 2rem;
      }

      &.error {
        color: var(--red);
      }

      .title {
        font-weight: bold;
        margin-right: 0.5rem;
        width: fit-content;
      }

      .value {
        &.capitalise {
          text-transform: capitalize;
        }
      }
    }
  }

  .info {
    &:not(:nth-last-child(1)) {
      margin-bottom: 2rem;
    }

    &:nth-last-child(1) {
      margin-bottom: 2rem;
    }
  }

  .options {
    display: flex;
    flex-direction: column;

    .option {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      padding: 0.5rem 1rem;
      border-radius: 1rem;

      border: 2px solid rgba(171, 200, 252, 0.5);

      &:not(:nth-last-child(1)) {
        margin-bottom: 1rem;
      }

      .logo {
        width: 42px;
        height: 42px;

        &.coinbase {
          scale: 0.9;
        }

        &.logout {
          opacity: 0.9;
          transform: translateX(-5px);
        }
      }

      .name {
        margin: auto 0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: calc(var(--font-h3) * 0.85);
        text-align: end;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .walletConnect {
    width: 100%;
    min-width: 200px;
  }

  .body {
    .status {
      .row {
        justify-content: space-between;

        .value {
          text-align: end;
          width: 80%;
        }
      }
    }

    .options {
      .option {
        &:not(:nth-last-child(1)) {
          margin-bottom: 1.25rem;
        }
      }
    }
  }
}

@media screen and (max-width: 280px) {
  .body {
    .header {
      text-align: center;
    }

    .status {
      .row {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 0.5rem;

        .title {
          margin: 0 auto;
        }

        .value {
          text-align: center;
          margin: 0 auto;
          width: 100%;
        }
      }
    }

    .options {
      .option {
        flex-direction: column;

        .logo {
          margin: 0 auto;
          margin-bottom: 0.5rem;
        }

        .name {
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }
}
