.button {
  margin: 0 auto;
  height: fit-content;
  min-width: 220px;

  position: relative;

  padding: 1rem;
  border-radius: 1rem;

  z-index: 1;

  overflow-x: hidden;
  overflow-y: hidden;

  cursor: pointer;

  &.gradient {
    &:before {
      width: 200%;
      height: 150%;
      position: absolute;
      top: -50%;
      bottom: 0;
      right: 0;
      left: -100%;
      background: linear-gradient(
        to right,
        var(--purple-10) 25%,
        var(--purple-20) 50%,
        var(--purple-special) 75%,
        var(--blue-10)
      );
      opacity: 0.85;

      content: '';
      z-index: -1;

      overflow: hidden;

      transition-property: left, right, top, bottom, opacity;
      transition-duration: 0.4s;
      transition-timing-function: ease-in-out;
    }

    &.enabled {
      &:hover {
        &:before {
          left: 0;
          top: 0;
          opacity: 0.95;
        }
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .content {
    font-family: 'Silkscreen';
    margin: auto 0;
    text-align: center;
    color: var(--white);
  }
}
