.box {
  --closed-width: 460px;
  --min-height-desktop: 200px;
  --height-desktop: 300px;
  --border-radius: 2rem;
  --transition-duration: 0.8s;
  --section-padding: 1rem;

  // active state
  width: 100%;

  min-height: var(--min-height-desktop);
  padding: 0.525rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  overflow: hidden;

  background-color: var(--grey-40);
  background: linear-gradient(
    to right,
    var(--dark-grey) 40%,
    var(--background-colour)
  );

  border: 3px solid var(--blue-10);
  border-radius: var(--border-radius-default);

  transition-property: width, height;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;

  .gradientHover {
    width: 300px;
    height: 300px;
    position: absolute;

    margin: auto;

    background: linear-gradient(
      to right,
      var(--dark-grey-10) 10%,
      var(--dark-grey) 40%,
      var(--background-colour)
    );
    box-shadow: 0px 0px 100px 100px rgba(white, 0.1);
    border-radius: 50%;

    opacity: 0;
    z-index: 0;

    transition: opacity 0.4s ease-in-out;

    &.active {
      opacity: 1;
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-default);

    padding: var(--section-padding);
    z-index: 1;

    .section {
      width: 25%;
      margin: auto 1.5rem;
      margin-top: 0;
      margin-right: 2rem;

      .nameContainer {
        display: flex;
        flex-direction: column;
        height: fit-content;

        .name {
          height: fit-content;
          white-space: pre-wrap;

          margin: auto 0;

          font-weight: bold;
          font-size: var(--font-h4);

          margin-bottom: 1rem;
        }

        .title {
          margin-bottom: 1rem;
        }

        .date {
          font-weight: normal;
          white-space: pre-line;
        }
      }

      .logo {
        margin-left: 2rem;

        img {
          width: 100px;
          height: 100px;
        }
      }

      .title {
        font-size: var(--font-h4);
        font-weight: bold;
        text-transform: uppercase;
        text-align: start;
        margin-bottom: 1.25rem;
        white-space: pre-line;
      }

      // sub sections
      .content {
        min-width: 200px;
        width: 100%;
        height: fit-content;
        margin: auto 0;
        white-space: nowrap;

        display: flex;
        flex-direction: column;

        .info {
          // margin: 0 auto;
          margin-bottom: 0.5rem;
          text-align: start;
          white-space: break-spaces;
          font-size: var(--font-p);

          .infoText {
            line-height: 1.325rem;
            min-width: 220px;
            max-width: 500px;
            width: 100%;
            white-space: break-spaces;
          }
        }
      }

      &:nth-child(1) {
        display: flex;
        flex-direction: row;
        width: 25%;
        margin-left: 0;
      }

      &:nth-last-child(1) {
        width: 40%;
        margin-right: 0;
      }
    }
  }
}

@keyframes opacityCustom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  .box {
    .body {
      flex-wrap: wrap;

      .section {
        margin: unset;
        margin-left: 0;
        margin-right: 1.5rem;

        .logo {
          margin: unset;
          margin-left: 2rem;
        }

        &:nth-child(1) {
          flex-direction: row;
          justify-content: flex-start;
          width: 100%;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 876px) {
  .box {
    .body {
      flex-direction: column;

      .section {
        width: 100%;
        margin-bottom: 2rem;

        &:nth-child(1) {
          width: fit-content;
          // margin: auto;
          margin-right: auto;
          flex-direction: column-reverse;
        }

        &:nth-last-child(1) {
          width: 100%;
        }

        .nameContainer {
          text-align: center;
        }

        .logo {
          margin: 0 auto;
          margin-bottom: 1rem;
        }

        .title {
          width: 100%;
          text-align: center;
          margin-bottom: 0.75rem;
        }

        .content {
          width: fit-content;
          margin: 0 auto;

          .info {
            text-align: center;

            &:before {
              content: '';
              margin-right: unset;
            }

            .infoText {
              max-width: unset;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
