.box {
  --closed-width: 460px;
  --min-height-desktop: 200px;
  --height-desktop: 300px;
  --border-radius: 2rem;
  --transition-duration: 0.8s;
  --section-padding: 1rem;

  // inactive state
  // width: var(--closed-width);
  // height: var(--height-desktop);

  // active state
  width: 100%;
  // height: 100%;

  min-height: var(--min-height-desktop);
  padding: 0.525rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  overflow: hidden;

  background-color: var(--grey-40);
  background: linear-gradient(
    to right,
    var(--dark-grey) 40%,
    var(--background-colour)
  );

  border: 3px solid var(--blue-10);
  border-radius: var(--border-radius-default);

  transition-property: width, height;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;

  .gradientHover {
    width: 300px;
    height: 300px;
    position: absolute;

    margin: auto;

    background: linear-gradient(
      to right,
      var(--dark-grey-10) 10%,
      var(--dark-grey) 40%,
      var(--background-colour)
    );
    box-shadow: 0px 0px 100px 100px rgba(white, 0.1);
    border-radius: 50%;

    opacity: 0;
    z-index: 0;

    transition: opacity 0.4s ease-in-out;

    &.active {
      opacity: 1;
    }
  }

  .left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    min-width: calc(var(--closed-width) * 0.9475);
    border-radius: var(--border-radius-default);

    padding: var(--section-padding);
    z-index: 1;

    .nameContainer {
      display: flex;
      flex-direction: column;
      height: fit-content;
      margin: auto 0;

      .name {
        width: 50%;
        height: fit-content;
        white-space: pre-wrap;

        margin: auto 0;

        font-weight: bold;
        font-size: var(--font-h4);

        margin-bottom: 1rem;
      }

      .title {
        margin-bottom: 0.5rem;
      }

      .date {
        white-space: nowrap;
      }
    }

    .logo {
      margin: auto 0;

      img {
        width: 150px;
        height: 150px;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    padding: var(--section-padding);
    transition-property: width, opacity, padding;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.88, 0.41, 0.53, 0.95);

    // inactive state
    width: 0;
    opacity: 0;

    // active state
    width: 100%;
    height: 100%;
    opacity: 1;

    z-index: 1;

    .section {
      width: 300px;
      margin: auto 1.5rem;
      margin-top: 0;

      .title {
        font-size: var(--font-h4);
        font-weight: bold;
        text-transform: uppercase;
        text-align: start;
        margin-bottom: 1.25rem;
        white-space: nowrap;
      }

      // sub sections
      .content {
        min-width: 200px;
        width: 100%;
        height: fit-content;
        margin: auto 0;
        white-space: nowrap;

        display: flex;
        flex-direction: column;

        .info {
          // margin: 0 auto;
          margin-bottom: 0.5rem;
          text-align: start;
          white-space: break-spaces;
        }

        .infoText {
          line-height: 1.325rem;
          min-width: 220px;
          max-width: 500px;
          width: 100%;
          white-space: break-spaces;
        }
      }

      &:nth-last-child(1) {
        width: 400px;
      }
    }
  }
}

@keyframes opacityCustom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
