.box {
  --closed-width: 460px;
  --min-height-desktop: 200px;
  --opened-height-desktop: 500px;
  --border-radius: 2rem;
  --transition-duration: 0.8s;
  --section-padding: 1rem;

  width: var(--closed-width);
  min-height: var(--min-height-desktop);
  padding: 0.525rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: var(--grey-40);
  background: linear-gradient(
    to right,
    var(--dark-grey) 40%,
    var(--background-colour)
  );

  border: 3px solid var(--blue-10);
  border-radius: var(--border-radius-default);

  transition-property: width, height;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;

  .left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    min-width: calc(var(--closed-width) * 0.9475);
    width: var(--closed-width);
    border-radius: var(--border-radius-default);

    padding: var(--section-padding);

    .nameContainer {
      display: flex;
      flex-direction: column;
      height: fit-content;
      margin: auto 0;

      .name {
        width: 50%;
        height: fit-content;
        white-space: pre-wrap;

        margin: auto 0;

        font-weight: bold;
        font-size: var(--font-h4);

        margin-bottom: 1rem;
      }

      .date {
        white-space: nowrap;
      }
    }

    .logo {
      margin: auto 0;
      img {
        width: 150px;
        height: 150px;
      }
    }
  }

  .right {
    width: 0;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    padding: var(--section-padding);
    transition-property: width, opacity, padding;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.88, 0.41, 0.53, 0.95);

    .section {
      margin: auto 1.5rem;
      margin-top: 0;

      .title {
        font-size: var(--font-h4);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 1.25rem;
        white-space: nowrap;
      }

      // sub sections
      .content {
        min-width: 200px;
        height: fit-content;
        margin: auto 0;
        white-space: nowrap;

        display: flex;
        flex-direction: column;

        .info {
          margin: 0 auto;
          margin: 0 auto;
          margin-bottom: 0.5rem;
          text-align: center;
          white-space: break-spaces;
        }

        .infoText {
          line-height: 1.325rem;
          min-width: 300px;
          max-width: 500px;
          width: 100%;
          white-space: break-spaces;
        }
      }
    }
  }

  &:hover {
    width: 100%;

    .right {
      width: 50%;
      opacity: 1;
      padding: var(--section-padding);
    }
  }
}

@keyframes opacityCustom {
  0% {
    opacity: 0;
  }

  // 40% {
  //   opacity: 0;
  // }

  // 75% {
  //   opacity: 0.5;
  // }

  100% {
    opacity: 1;
  }
}
