.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;

  .container {
    width: 600px;
    height: 50%;

    margin: auto;
    padding: 0.5rem;

    .subheader {
      font-size: var(--font-h2);
      text-align: center;
      font-weight: bold;
    }

    .logo {
      position: relative;
      width: 140px;
      height: 140px;
      display: flex;

      margin: 0 auto;
      margin-bottom: 2rem;

      background-color: var(--blue-10);
      border-radius: 50%;

      img {
        width: 60%;
        height: 60%;
        margin: auto;
      }
    }

    .text {
      width: fit-content;
      margin: 0 auto;

      font-size: var(--font-h3);
      line-height: calc(var(--font-h3) * 1.475);

      text-align: center;
      margin-bottom: 2rem;
    }

    .link {
      display: flex;
      width: fit-content;

      margin: 0 auto;
      text-align: center;
      font-size: var(--font-p);

      background-color: var(--purple-40);
    }
  }
}
